<fieldset>
	<legend>Form Guru/Pengajar</legend>
	<form id="form_{$acak}" method="post" class="form-horizontal" url="{$host}simpan/cl_guru/{$sts|default:'add'}">
		<input type="hidden" name="id" id="id_{$acak}" value="{$data.guru.id|default:''}">
		<input type="hidden" name="cl_kelas_id" id="cl_kelas_id{$acak}" value="">
		<input type="hidden" name="cl_mata_pelajaran_id" id="cl_mata_pelajaran_id{$acak}" value="">
		<fieldset>
			<legend>UserLogin</legend>
		{if $sts eq 'add'}
		{include file="template/text.html" type="text" label="UserName" name="nama_user" id_na="nama_user" value="{$data.tbl_user_id|default:''}" class="validasi"}
		{include file="template/text.html" type="text" label="Email" name="email" id_na="email" value="{$data.email|default:''}" class="validasi_email"}
		{include file="template/text.html" type="pwd" label="Password" name="pwd" id_na="pwd" value="{$data.pwd|default:''}" class="validasi"}
		{else}
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">NamaUser</label>
				<div class="col-sm-8">
					<div class="checkbox">
						<label>{$data.guru.tbl_user_id|default:''}</label>
					</div>
				</div>
			</div>	
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">Email</label>
				<div class="col-sm-8">
					<div class="checkbox">
						<label>{$data.guru.email|default:''}</label>
					</div>
				</div>
			</div>	
		{/if}
		</fieldset>
		<fieldset>
			<legend>Data Guru</legend>
		{include file="template/text.html" type="text" label="Nama" name="nama_lengkap" id_na="nama_lengkap" value="{$data.guru.nama_lengkap|default:''}" class="validasi"}
		
		{include file="template/text.html" type="textarea" label="Alamat" name="alamat" id_na="alamat" value="{$data.guru.alamat|default:''}"}
		
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Jenis Kelamin</label>
			<div class="col-sm-8">
				<div class="checkbox">
				<label>
				  <input type="radio" name="jenis_kelamin" id="jenis_kelamin{$acak}" value="1" {if $sts eq 'add'}checked{else}{if $data.guru.jenis_kelamin|default:'' neq '2'}checked{/if}{/if}>&nbsp;Laki-laki
				</label>
				<label>
				<input type="radio" name="jenis_kelamin" id="jenis_kelamin{$acak}" value="2" {if $sts eq 'edit'}{if $data.guru.jenis_kelamin|default:'' neq '1'}checked{/if}{/if} >&nbsp;Wanita
				</label>
				</div>
			 <!--input type="text" class="form-control" name="isi_konten" id="isi_konten_{$acak}" value="{$data.nama_pelajaran|default:''}" -->
			</div>
		</div>
		
		{include file="template/text.html" type="text" label="No.Telp" name="telp" id_na="telp" value="{$data.guru.telp|default:''}"}
		{include file="template/text.html" type="text" label="No. HP" name="hp" id_na="hp" value="{$data.guru.hp|default:''}" class="validasi"}
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Mengajar Kelas</label>
			<div class="col-sm-8">
				<select class="form-control" id="kelas_{$acak}" name="kelas_na" style="height:50px">
					{foreach from=$kelas item=i}
					<option value="{$i.id}">{$i.kelas}</option>
					{/foreach}
				</select>
			</div>
			
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Mengajar Mata Pelajaran</label>
			<div class="col-sm-8">
				<select class="form-control" id="mat_pel{$acak}" name="mat_pel" style="height:50px">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Input By</label>
			<div class="col-sm-8">
				<div class="checkbox">
					<label>{$auth.nama_user}</label>
				</div>
			</div>
		</div>	
		{include file="template/button.html" text="Simpan Data" id="simpan_{$acak}" icon="save"}
		{include file="template/button.html" text="Kembali Ke Grid" id="cancel_{$acak}" icon="cancel"}
		</fieldset>
	</form>
</fieldset>

<script>
	//$('#bab_{$acak}').numberbox();
	
	$(".validasi").validatebox({ required:true }); 
	$(".validasi_email").validatebox({ required:true,validType: 'email' });
	$('#kelas_{$acak}').combobox({
		multiple:true,
		multiline:true,
		onChange:function(){
			//console.log($(this).combobox('getValues'));
			$('#mat_pel{$acak}').combobox('reload');
			
		}
	});
	
	$('#mat_pel{$acak}').combobox({
		url:host+'getcombo',
		multiple:true,
		multiline:true,
		valueField:'id',
        textField:'nama_pelajaran',
        groupField:'kelas',
		onBeforeLoad: function(param){
			param.id_kelas = $('#kelas_{$acak}').combobox('getValues');
			param.v = 'combo_matapelajaran';
		},
		onLoadSuccess:function(){
			{if $sts eq 'edit'}
				$(this).combobox('setValues', pel);
			{/if}
		}
	});
	
	{if $sts eq 'edit'}
		var pel={$data.pel};
		var kel={$data.kel};
		console.log(x);
		$('#kelas_{$acak}').combobox('setValues', kel);
		
	{/if}
	$('#cancel_{$acak}').bind('click',function(){
		$('#grid_nya_{$mod}').show();
		$('#detil_nya_{$mod}').hide();
	});
	$('#simpan_{$acak}').bind('click',function(){
		if ($('#form_{$acak}').form('validate')){
			
			$.post('{$host}cekuser',{ usr:$('#nama_user{$acak}').val(),email:$('#email{$acak}').val() },function(resp){
				if(resp==1){
					$('#cl_kelas_id{$acak}').val($('#kelas_{$acak}').combobox('getValues'));
					$('#cl_mata_pelajaran_id{$acak}').val($('#mat_pel{$acak}').combobox('getValues'));
					submit_form('form_{$acak}',function(r){
						if(r==1){
							$.messager.alert('Bimbel',"Data Guru Sudah Tersimpan",'info');
							$('#cancel_{$acak}').trigger('click');
							grid_nya.datagrid('reload');
						}else{
							console.log(r);
							$.messager.alert('Bimbel',"Tdak Dapat Menyimpan Data",'error');
						}
					});
				}else{
					$.messager.alert('Bimbel',"User Name atau Email Sudah Terdaftar",'info');
				}
			});
		}else{
			$.messager.alert('Bimbel',"Isi Data Yang Kosong Atau Email Tidak Valid",'info');
		}
	});
</script>