<fieldset>
	<legend>Form Mata Pelajaran</legend>
	<form id="form_mata_pelajaran_{$acak}" method="post" class="form-horizontal" url="{$host}simpan/cl_kelas/{$sts|default:'add'}">
		<input type="hidden" name="id" id="id_{$acak}" value="{$data.id|default:''}">
		{include file="template/text.html" type="text" label="Nama Kelas" name="kelas" id="kelas" value="{$data.kelas|default:''}"}
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Nama Mata Pelajaran</label>
			<div class="col-sm-8">
				<div class="checkbox">
					<label>{$auth.nama_user}</label>
				</div>
			</div>
		</div>	
		{include file="template/button.html" text="Simpan Data" id="simpan_{$acak}" icon="save"}
		{include file="template/button.html" text="Kembali Ke Grid" id="cancel_{$acak}" icon="cancel"}
		
	</form>
</fieldset>

<script>
	$('#cancel_{$acak}').bind('click',function(){
		$('#grid_nya_{$mod}').show();
		$('#detil_nya_{$mod}').hide();
	});
	$('#simpan_{$acak}').bind('click',function(){
		submit_form('form_mata_pelajaran_{$acak}',function(r){
			if(r==1){
				$.messager.alert('Bimbel',"Data Pelajaran Sudah Tersimpan",'info');
				$('#cancel_{$acak}').trigger('click');
				grid_nya.datagrid('reload');
			}else{
				console.log(r);
				$.messager.alert('Bimbel',"Tdak Dapat Menyimpan Data",'error');
			}
		})
	});
</script>