<div  id="form_mat_{$acak}">
<fieldset>
	<legend>Step 1 Form Konten Materi</legend>
	<form id="form_mata_pelajaran_{$acak}" method="post" class="form-horizontal" url="{$host}simpan/tbl_konten_materi/{$sts|default:'add'}">
		<input type="hidden" name="id" id="id_{$acak}" value="{$data.materi.id|default:''}">
		<!--div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Materi</label>
			<div class="col-sm-8">
			{if $sts eq 'add'}
			  <select name="tbl_sub_bab_id" id="tbl_sub_bab_id{$acak}" class="form-control validasi" >
				{foreach from=$materi item=i}
					<option value="{$i.id}" {if $data.materi.tbl_sub_bab_id|default:"" eq $i.id}selected{/if}>{$i.judul_sub_bab}</option>
				{/foreach}
			</select>
			{else}
				<div class="checkbox">
					<label>{$data.materi.judul_sub_bab|default:''}</label>
				</div>
				
			{/if}
			</div>
		</div-->
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Kelas</label>
			<div class="col-sm-8">
			{if $sts eq 'add'}
			  <select name="kelas" id="cl_kelas{$acak}" class="form-control validasi" >
				<option value=''>--Pilih Kelas--</option>
				{foreach from=$kelas item=i}
					<option value="{$i.id}" {if $data.soal.cl_kelas_id|default:"" eq $i.id}selected{/if}>{$i.kelas}</option>
				{/foreach}
			</select>
			{else}
				<div class="checkbox">
					<label>{$data.soal.cl_kelas_id|default:''}</label>
				</div>
				
			{/if}
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Mata Pelajaran</label>
			<div class="col-sm-8">
			{if $sts eq 'add'}
			  <select name="mat_pel" id="cl_mata_pelajaran{$acak}" class="form-control validasi" ></select>
			{else}
				<div class="checkbox">
					<label>{$data.soal.cl_mata_pelajaran_id|default:''}</label>
				</div>
				
			{/if}
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">BAB</label>
			<div class="col-sm-8">
			{if $sts eq 'add'}
			  <select name="bab" id="tbl_bab{$acak}" class="form-control validasi" ></select>
			{else}
				<div class="checkbox">
					<label>{$data.soal.judul_bab|default:''}</label>
				</div>
				
			{/if}
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">SUB BAB MATERI</label>
			<div class="col-sm-8">
			{if $sts eq 'add'}
			  <select name="tbl_sub_bab_id" id="tbl_sub_bab{$acak}" class="form-control validasi" ></select>
			{else}
				<div class="checkbox">
					<label>{$data.soal.judul_sub_bab|default:''}</label>
				</div>
				
			{/if}
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Isi Konten Materi</label>
			<div class="col-sm-8">
			{include file="template/editor.html" id="isi_konten_{$acak}" name="isi_konten" value="{$data.materi.isi_konten|default:''}" class="validasi"} 
			 <!--input type="text" class="form-control" name="isi_konten" id="isi_konten_{$acak}" value="{$data.nama_pelajaran|default:''}" -->
			</div>
		</div>
		
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Di Buat Oleh</label>
			<div class="col-sm-8">
				<div class="checkbox">
					<label>{$auth.nama_user}</label>
				</div>
			</div>
		</div>	
		{include file="template/button.html" text="Langkah 2 Upload Video" id="simpan_{$acak}" icon="save"}
		{include file="template/button.html" text="Kembali Ke Grid" id="cancel_{$acak}" icon="cancel"}
		
	</form>
</fieldset>
</div>
<div style="display:none;" id="form_vid_{$acak}">
<fieldset>
	<legend>Step 2 Upload Video Materi</legend>
	{if $sts eq 'edit'}
	File Exist: <br>
	{foreach from=$data.file item=i}
	<span id="list_{$i.id}">{$i.file_materi}&nbsp; {include file="template/button.html" text="Hapus File" data="{$i.id}" click="hapus_file('konten',{$i.id})" id="hapus_{$i.id}_{$acak}" icon="remove"}</span><br>
	{/foreach}
	{/if}
	<form id="form_video_{$acak}" method="post" class="form-horizontal" url="{$host}simpan/video_materi/{$sts|default:'add'}">
		<input type="hidden" name="id_materi" id="id_materi_{$acak}" value="">
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Type Upload</label>
			<div class="col-sm-8">
				<div class="checkbox">
				<label>
				  <input type="radio" name="flag_video" id="flag_video" value="U" {if $sts eq 'add'}checked{else}{if $data.materi.flag_video neq 'Y'}checked{/if}{/if} onclick="$('.vid_nya').show();$('.embedna').hide();$('#selesai_{$acak}').linkbutton({ text:'Langkah 3 Seting Cover',iconCls:'icon-save' })">&nbsp;Upload
				</label>
				<label>
				<input type="radio" name="flag_video" id="flag_video" value="Y" {if $sts eq 'edit'}{if $data.materi.flag_video|default:'' neq 'U'}checked{/if}{/if} onclick="$('.vid_nya').hide();$('.embedna').show();$('#selesai_{$acak}').linkbutton({ text:'Selesai',iconCls:'icon-save' })">&nbsp;Embed Dari Youtube
				</label>
				</div>
			 <!--input type="text" class="form-control" name="isi_konten" id="isi_konten_{$acak}" value="{$data.nama_pelajaran|default:''}" -->
			</div>
		</div>
		<!-- VIDEO EMBED-->
		{include file="template/text.html" type="text" label="Judul Video 1" name="judul_embed[]" id_na="judul_1_embed" value="{$data.tbl_user_id|default:''}" kelas_div="embedna" style_div="display:none;" }
		{include file="template/text.html" type="text" label="Embed Url From Youtube " name="embed_url[]" id_na="embed_url_1" value="{$data.tbl_user_id|default:''}" kelas_div="embedna" style_div="display:none;" }
		
		{include file="template/text.html" type="text" label="Judul Video 2" name="judul_embed[]" id_na="judul_2_embed" value="{$data.tbl_user_id|default:''}" kelas_div="embedna" style_div="display:none;" }
		{include file="template/text.html" type="text" label="Embed Url From Youtube " name="embed_url[]" id_na="embed_url_2" value="{$data.tbl_user_id|default:''}" kelas_div="embedna" style_div="display:none;" }
		
		{include file="template/text.html" type="text" label="Judul Video 3" name="judul_embed[]" id_na="judul_3_embed" value="{$data.tbl_user_id|default:''}" kelas_div="embedna" style_div="display:none;" }
		{include file="template/text.html" type="text" label="Embed Url From Youtube " name="embed_url[]" id_na="embed_url_3" value="{$data.tbl_user_id|default:''}" kelas_div="embedna" style_div="display:none;" }
		
		{include file="template/text.html" type="text" label="Judul Video 4" name="judul_embed[]" id_na="judul_4_embed" value="{$data.tbl_user_id|default:''}" kelas_div="embedna" style_div="display:none;" }
		{include file="template/text.html" type="text" label="Embed Url From Youtube " name="embed_url[]" id_na="embed_url_4" value="{$data.tbl_user_id|default:''}" kelas_div="embedna" style_div="display:none;" }
		
		{include file="template/text.html" type="text" label="Judul Video 5" name="judul_embed[]" id_na="judul_5_embed" value="{$data.tbl_user_id|default:''}" kelas_div="embedna" style_div="display:none;" }
		{include file="template/text.html" type="text" label="Embed Url From Youtube " name="embed_url[]" id_na="embed_url_5" value="{$data.tbl_user_id|default:''}" kelas_div="embedna" style_div="display:none;" }
		<!-- VIDEO UPLOAD-->
			{include file="template/text.html" type="text" label="Judul Video 1" name="judul[]" id_na="judul_1" value="{$data.tbl_user_id|default:''}" kelas_div="vid_nya" }
			
		<div class="form-group vid_nya" id="filena_{$acak}" style="{if $data.materi.flag|default:'' eq 'Y'}display:none;{/if}">
			<label for="inputEmail3" class="col-sm-3 control-label">File Video 1</label>
			<div class="col-sm-8">
				{include file="template/upload.html" id_na="upl1"}<br>
				
				<!--a id="upload_na" href="javascript:void(0)" class="col-sm-12">Uploadss</a-->
			</div>
		</div>
		
			{include file="template/text.html" type="text" label="Judul Video 2" name="judul[]" id_na="judul_2" value="{$data.tbl_user_id|default:''}" kelas_div="vid_nya"}
			
		<div class="form-group vid_nya" id="filena_{$acak}" style="{if $data.materi.flag|default:'' eq 'Y'}display:none;{/if}">
			<label for="inputEmail3" class="col-sm-3 control-label">File Video 2</label>
			<div class="col-sm-8">
				{include file="template/upload.html" id_na="upl2"}<br>
				
				<!--a id="upload_na" href="javascript:void(0)" class="col-sm-12">Uploadss</a-->
			</div>
		</div>
		
			{include file="template/text.html" type="text" label="Judul Video 3" name="judul[]" id_na="judul_3" value="{$data.tbl_user_id|default:''}" kelas_div="vid_nya"}
			
		<div class="form-group vid_nya" id="filena_{$acak}" style="{if $data.materi.flag|default:'' eq 'Y'}display:none;{/if}">
			<label for="inputEmail3" class="col-sm-3 control-label">File Video 3</label>
			<div class="col-sm-8">
				{include file="template/upload.html" id_na="upl3"}<br>
				
				<!--a id="upload_na" href="javascript:void(0)" class="col-sm-12">Uploadss</a-->
			</div>
		</div>
		
			{include file="template/text.html" type="text" label="Judul Video 4" name="judul[]" id_na="judul_4" value="{$data.tbl_user_id|default:''}" kelas_div="vid_nya"}

		<div class="form-group vid_nya" id="filena_{$acak}" style="{if $data.materi.flag|default:'' eq 'Y'}display:none;{/if}">
			<label for="inputEmail3" class="col-sm-3 control-label">File Video 4</label>
			<div class="col-sm-8">
				{include file="template/upload.html" id_na="upl4"}<br>
				
				<!--a id="upload_na" href="javascript:void(0)" class="col-sm-12">Uploadss</a-->
			</div>
		</div>
		
			{include file="template/text.html" type="text" label="Judul Video 5" name="judul[]" id_na="judul_5" value="{$data.tbl_user_id|default:''}" kelas_div="vid_nya"}
			
		<div class="form-group vid_nya" id="filena_{$acak}" style="{if $data.materi.flag|default:'' eq 'Y'}display:none;{/if}">
			<label for="inputEmail3" class="col-sm-3 control-label">File Video 5</label>
			<div class="col-sm-8">
				{include file="template/upload.html" id_na="upl5"}<br>
				
				<!--a id="upload_na" href="javascript:void(0)" class="col-sm-12">Uploadss</a-->
			</div>
		</div>
		{*
		<div class="form-group vid_nya" style="{if $data.materi.flag|default:'' neq 'Y'}display:none;{/if}" id="embedna_{$acak}">
			<label for="inputEmail3" class="col-sm-3 control-label">Embed Url From Youtube</label>
			<div class="col-sm-8">
			 <input type="text" class="form-control" name="embed_url" id="embed_url_{$acak}" value="{$data.file.0.embed_url|default:''}" >
			</div>
		</div>
		*}
		{include file="template/button.html" text="Langkah 3 Seting Cover" id="selesai_{$acak}" icon="save"}
	
	</form>
</fieldset>
</div>
<div id="prev_{$acak}" style="display:none;">

</div>
<script>
	var jml_vid=0;
	var upl_vid=0;
	var id_materi;
	gen_editor('#isi_konten_{$acak}');
	$('#cl_kelas{$acak}').change(function(){
		$('#cl_mata_pelajaran{$acak}').empty();
		$('#tbl_bab{$acak}').empty();
		$('#tbl_sub_bab{$acak}').empty();
		fillCombo(host+'getcombo','cl_mata_pelajaran{$acak}','c_mata_pelajaran',$(this).val(),'{$data.cl_mata_pelajaran_id|default:''}');
	});
	$('#cl_mata_pelajaran{$acak}').change(function(){
	//	$('#cl_mata_pelajaran{$acak}').empty();
		$('#tbl_bab{$acak}').empty();
		$('#tbl_sub_bab{$acak}').empty();
		fillCombo(host+'getcombo','tbl_bab{$acak}','c_bab',$(this).val(),'{$data.tbl_bab_id|default:''}');
	});
	$('#tbl_bab{$acak}').change(function(){
	//	$('#cl_mata_pelajaran{$acak}').empty();
	//	$('#cl_bab{$acak}').empty();
		$('#tbl_sub_bab{$acak}').empty();
		fillCombo(host+'getcombo','tbl_sub_bab{$acak}','c_sub_bab',$(this).val(),'{$data.tbl_sub_bab_id|default:''}','soal');
	});
	
	$('#cancel_{$acak}').bind('click',function(){
		tinyMCE.get("isi_konten_{$acak}").save();
		$('#grid_nya_{$mod}').show();
		$('#detil_nya_{$mod}').hide();
	});
	$('#simpan_{$acak}').bind('click',function(){
		//uploadObj.startUpload();
		tinyMCE.get("isi_konten_{$acak}").save();
		if ($('#form_mata_pelajaran_{$acak}').form('validate')){
			loadingna();
			submit_form('form_mata_pelajaran_{$acak}',function(r){
				//console.log(r);
				
				var js=JSON.parse(r);
				console.log(js);
				if(js.msg==1){
					winLoadingClose();
					id_materi=js.id;
					$('#form_mat_{$acak}').hide();
					$('#form_vid_{$acak}').show();
				}else{
					winLoadingClose();
					console.log(js);
					$.messager.alert('Bimbel',"Tdak Dapat Menyimpan Data",'error');
				}
			});
		}else{
			$.messager.alert('Bimbel',"Isi Data Yang Kosong ",'info');
		}
		
	});
	$('#selesai_{$acak}').bind('click',function(){
		//id_materi=8;
		var flag=$("input[name='flag_video']:checked").val();
		if(flag=='U'){
			loadingna();
			//$('#selesai_{$acak}').linkbutton('disable');
			//$('#selesai_{$acak}').linkbutton({ text:'Sedang Proses Upload.....' });
			upload_video(uploadObj_upl1_{$acak},id_materi,'U','judul_1{$acak}');
			upload_video(uploadObj_upl2_{$acak},id_materi,'U','judul_2{$acak}');
			upload_video(uploadObj_upl3_{$acak},id_materi,'U','judul_3{$acak}');
			upload_video(uploadObj_upl4_{$acak},id_materi,'U','judul_4{$acak}');
			upload_video(uploadObj_upl5_{$acak},id_materi,'U','judul_5{$acak}');
		}else{
			//console.log(flag);
			//console.log(id_materi);
			$('#id_materi_{$acak}').val(id_materi);
			submit_form('form_video_{$acak}',function(r){
				if(r==1){
					//console.log(r);
					$('#grid_nya_{$mod}').show();
					$('#detil_nya_{$mod}').hide();
					grid_nya.datagrid('reload');
				}else{
					console.log(r);
					$.messager.alert('Bimbel',"Gagal Menyimpan Video ",'info');
				}
			});
		}
	});
</script>