<fieldset>
	<legend>Form Bab Pelajaran</legend>
	<form id="form_{$acak}" method="post" class="form-horizontal" url="{$host}simpan/tbl_materi/{$sts|default:'add'}">
		<input type="hidden" name="id" id="id_{$acak}" value="{$data.id|default:''}">
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">SubBab</label>
			<div class="col-sm-8">
			  <select name="tbl_sub_bab_id" id="tbl_sub_bab_id{$acak}" class="form-control" >
				{foreach from=$sub_bab item=i}
					<option value="{$i.id}" {if $data.tbl_sub_bab_id|default:"" eq $i.id}selected{/if}>{$i.judul_sub_bab}</option>
				{/foreach}
			</select>
			</div>
		</div>
		{include file="template/text.html" type="text" label="Nama Materi" name="nama_materi" id="nama_materi" value="{$data.nama_materi|default:''}"}
		{include file="template/text.html" type="textarea" label="Desk. Materi" name="deskripsi_materi" id="deskripsi_materi" value="{$data.deskripsi_materi|default:''}"}
		
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Input By</label>
			<div class="col-sm-8">
				<div class="checkbox">
					<label>{$auth.nama_user}</label>
				</div>
			</div>
		</div>	
		{include file="template/button.html" text="Simpan Data" id="simpan_{$acak}" icon="save"}
		{include file="template/button.html" text="Kembali Ke Grid" id="cancel_{$acak}" icon="cancel"}
		
	</form>
</fieldset>

<script>
	//$('#bab_{$acak}').numberbox();
	$('#cancel_{$acak}').bind('click',function(){
		$('#grid_nya_{$mod}').show();
		$('#detil_nya_{$mod}').hide();
	});
	$('#simpan_{$acak}').bind('click',function(){
		submit_form('form_{$acak}',function(r){
			if(r==1){
				$.messager.alert('Bimbel',"Data Pelajaran Sudah Tersimpan",'info');
				$('#cancel_{$acak}').trigger('click');
				grid_nya.datagrid('reload');
			}else{
				console.log(r);
				$.messager.alert('Bimbel',"Tdak Dapat Menyimpan Data",'error');
			}
		})
	});
</script>