<fieldset>
	<legend>Form Peserta</legend>
	<form id="form_{$acak}" method="post" class="form-horizontal" url="{$host}simpan/cl_peserta/{$sts|default:'add'}">
		<input type="hidden" name="id" id="id_{$acak}" value="{$data.id|default:''}">
		<fieldset>
			<legend>UserLogin</legend>
		{if $sts eq 'add'}
		{include file="template/text.html" type="text" label="UserName" name="nama_user" id_na="nama_user" value="{$data.tbl_user_id|default:''}" class="validasi"}
		{include file="template/text.html" type="pwd" label="Password" name="pwd" id_na="pwd" value="{$data.pwd|default:''}" class="validasi"}
		{else}
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">NamaUser</label>
				<div class="col-sm-8">
					<div class="checkbox">
						<label>{$data.tbl_user_id|default:''}</label>
					</div>
				</div>
			</div>	
		{/if}
		</fieldset>
		<fieldset>
			<legend>Data Peserta</legend>
		{include file="template/text.html" type="text" label="Nama" name="Nama" id_na="Nama" value="{$data.Nama|default:''}" class="validasi"}
		{include file="template/text.html" type="text" label="Asal Sekolah" name="Asal_sekolah" id_na="Asal_sekolah" value="{$data.Asal_sekolah|default:''}" class="validasi"}
		
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Kelas</label>
			<div class="col-sm-8">
			  <select name="cl_kelas_id" id="cl_kelas_id{$acak}" class="form-control validasi" >
				{foreach from=$kelas item=i}
					<option value="{$i.id}" {if $data.cl_kelas_id|default:"" eq $i.id}selected{/if}>{$i.kelas}</option>
				{/foreach}
			</select>
			</div>
		</div>
		{include file="template/text.html" type="text" label="Tempat Lahir" name="TempatLahir" id_na="TempatLahir{$acak}" value="{$data.TempatLahir|default:''}"}
		{include file="template/text.html" type="text" label="Tgl. Lahir" name="Tgl_Lahir"  id_na="Tgl_Lahir{$acak}" value="{$data.Tgl_Lahir|default:''}" class="tgl" style="height:34px;width:30%"}
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Jenis Kelamin</label>
			<div class="col-sm-8">
				<div class="checkbox">
				<label>
				  <input type="radio" name="JKel" id="JKel{$acak}" value="1" {if $sts eq 'add'}checked{else}{if $data.JKel|default:'' neq '2'}checked{/if}{/if}>&nbsp;Laki-laki
				</label>
				<label>
				<input type="radio" name="JKel" id="JKel{$acak}" value="2" {if $sts eq 'edit'}{if $data.JKel|default:'' neq '1'}checked{/if}{/if} >&nbsp;Wanita
				</label>
				</div>
			 <!--input type="text" class="form-control" name="isi_konten" id="isi_konten_{$acak}" value="{$data.nama_pelajaran|default:''}" -->
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Agama</label>
			<div class="col-sm-8">
			  <select name="Agama" id="Agama{$acak}" class="form-control" >
					<option value="1" selected>Islam</option>
					<option value="2" >Kristen</option>
					<option value="3" >Hindu</option>
					<option value="4" >Budha</option>
					<option value="5" >Konghucu</option>
			</select>
			</div>
		</div>
		{include file="template/text.html" type="textarea" label="Alamat" name="Alamat" id_na="Alamat" value="{$data.Alamat|default:''}"}
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Provinsi</label>
			<div class="col-sm-8">
			  <select name="cl_propinsi_kode" id="cl_propinsi_kode{$acak}" class="form-control" >
				<option value="">-- Pilih --</option>
				{foreach from=$provinsi item=i}
					<option value="{$i.kode_prov}" {if $data.cl_propinsi_kode|default:"" eq $i.kode_prov}selected{/if}>{$i.provinsi}</option>
				{/foreach}
			</select>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Kab/Kota</label>
			<div class="col-sm-8">
				<select name="cl_kab_kota_kode" id="cl_kab_kota_kode{$acak}" class="form-control" >
				
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Kecamatan</label>
			<div class="col-sm-8">
			  <select name="cl_kecamatan_kode" id="cl_kecamatan_kode{$acak}" class="form-control" >
				
			</select>
			</div>
		</div>
		{include file="template/text.html" type="text" label="Kode Pos" name="KodePos" id_na="KodePos" value="{$data.KodePos|default:''}"}
		{include file="template/text.html" type="text" label="No. Telp" name="NoTelepon" id_na="NoTelepon" value="{$data.NoTelepon|default:''}" class="validasi"}
		{include file="template/text.html" type="text" label="No. Telp Ortu" name="NoTelepon_ortu" id_na="NoTelepon_ortu" value="{$data.NoTelepon_ortu|default:''}" class="validasi"}
		{if $sts eq 'add'}
		{include file="template/text.html" type="text" label="Email" name="Email" id_na="Email" value="{$data.Email|default:''}" class="validasi_email"}
		{else}
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">Email</label>
				<div class="col-sm-8">
					<div class="checkbox">
						<label>{$data.Email|default:''}</label>
					</div>
				</div>
			</div>	
		{/if}
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Input By</label>
			<div class="col-sm-8">
				<div class="checkbox">
					<label>{$auth.nama_user}</label>
				</div>
			</div>
		</div>	
		{include file="template/button.html" text="Simpan Data" id="simpan_{$acak}" icon="save"}
		{include file="template/button.html" text="Kembali Ke Grid" id="cancel_{$acak}" icon="cancel"}
		</fieldset>
	</form>
</fieldset>

<script>
	//$('#bab_{$acak}').numberbox();
	$('.tgl').datebox({ required:true,
						formatter:myformatter,
						parser:myparser
	});
	$(".validasi").validatebox({ required:true }); 
	$(".validasi_email").validatebox({ required:true,validType: 'email' });
	$('#cl_propinsi_kode{$acak}').change(function(){
		$('#cl_kab_kota_kode{$acak}').empty();
		$('#cl_kecamatan_kode{$acak}').empty();
		fillCombo(host+'getcombo','cl_kab_kota_kode{$acak}','cl_kab_kota',$(this).val(),'{$data.cl_kab_kota_kode|default:''}');
	});
	$('#cl_kab_kota_kode{$acak}').change(function(){
		$('#cl_kecamatan_kode{$acak}').empty();
		fillCombo(host+'getcombo','cl_kecamatan_kode{$acak}','cl_kecamatan',$(this).val(),'{$data.cl_kecamatan_kode|default:''}');
	});
	
	{if $sts eq 'edit'}
		$('#cl_propinsi_kode{$acak}').trigger('change');
		//$('#cl_kab_kota_kode{$acak}').trigger('change');
		//fillCombo(host+'getcombo','cl_kab_kota_kode{$acak}','cl_kab_kota','{$data.cl_propinsi_kode|default:''}','{$data.cl_kab_kota_kode|default:''}');
		fillCombo(host+'getcombo','cl_kecamatan_kode{$acak}','cl_kecamatan','{$data.cl_kab_kota_kode|default:''}','{$data.cl_kecamatan_kode|default:''}');
	{/if}
	
	
	$('#cancel_{$acak}').bind('click',function(){
		$('#grid_nya_{$mod}').show();
		$('#detil_nya_{$mod}').hide();
	});
	$('#simpan_{$acak}').bind('click',function(){
		if ($('#form_{$acak}').form('validate')){
			$.post('{$host}cekuser',{ usr:$('#nama_user{$acak}').val(),email:$('#Email{$acak}').val() },function(resp){
				if(resp==1){
					submit_form('form_{$acak}',function(r){
						if(r==1){
							$.messager.alert('Bimbel',"Data Pelajaran Sudah Tersimpan",'info');
							$('#cancel_{$acak}').trigger('click');
							grid_nya.datagrid('reload');
						}else{
							console.log(r);
							$.messager.alert('Bimbel',"Tdak Dapat Menyimpan Data",'error');
						}
					});
				}else{
					$.messager.alert('Bimbel',"User Name atau Email Sudah Terdaftar",'info');
				}
			});
		}else{
			$.messager.alert('Bimbel',"Isi Data Yang Kosong Atau Email Tidak Valid",'info');
		}
	});
</script>