<fieldset>
	<legend>Form Bab Pelajaran</legend>
	<form id="form_{$acak}" method="post" class="form-horizontal" url="{$host}simpan/tbl_sub_bab_pelajaran/{$sts|default:'add'}">
		<input type="hidden" name="id" id="id_{$acak}" value="{$data.id|default:''}">
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Kelas</label>
			<div class="col-sm-8">
			
			  <select name="kelas" id="cl_kelas{$acak}" class="form-control validasi" >
				{foreach from=$kelas item=i}
					<option value="{$i.id}" {if $data.cl_kelas_id|default:"" eq $i.id}selected{/if}>{$i.kelas}</option>
				{/foreach}
			</select>
			
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Nama Pelajaran</label>
			<div class="col-sm-8">
			  <select name="cl_mata_pelajaran_id" id="cl_mata_pelajaran_id{$acak}" class="form-control" >
			
			</select>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Nama BAB</label>
			<div class="col-sm-8">
			  <select name="tbl_bab_id" id="tbl_bab_id{$acak}" class="form-control" >
				{foreach from=$bab item=i}
					<option value="{$i.id}" {if $data.tbl_bab_id|default:"" eq $i.id}selected{/if}>{$i.judul_bab}</option>
				{/foreach}
			</select>
			</div>
		</div>
		{include file="template/text.html" type="text" label="SubBab" name="sub_bab" id="sub_bab" value="{$data.sub_bab|default:''}"}
		{include file="template/text.html" type="text" label="Judul SubBab" name="judul_sub_bab" id="judul_sub_bab" value="{$data.judul_sub_bab|default:''}"}
		{include file="template/text.html" type="textarea" label="Desk. SubBab" name="deskripsi_sub_bab" id="deskripsi_sub_bab" value="{$data.deskripsi_sub_bab|default:''}"}
		
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">Input By</label>
			<div class="col-sm-8">
				<div class="checkbox">
					<label>{$auth.nama_user}</label>
				</div>
			</div>
		</div>	
		{include file="template/button.html" text="Simpan Data" id="simpan_{$acak}" icon="save"}
		{include file="template/button.html" text="Kembali Ke Grid" id="cancel_{$acak}" icon="cancel"}
		
	</form>
</fieldset>

<script>
	//$('#bab_{$acak}').numberbox();
	$('#cl_kelas{$acak}').change(function(){
		$('#cl_mata_pelajaran_id{$acak}').empty();
		$('#tbl_bab_id{$acak}').empty();
		fillCombo(host+'getcombo','cl_mata_pelajaran_id{$acak}','c_mata_pelajaran',$(this).val(),'{$data.cl_mata_pelajaran_id|default:''}');
	});
	$('#cl_mata_pelajaran_id{$acak}').change(function(){
		$('#tbl_bab_id{$acak}').empty();
		fillCombo(host+'getcombo','tbl_bab_id{$acak}','c_bab',$(this).val(),'{$data.tbl_bab_id|default:''}');
	});
	{if $sts eq 'edit'}
		$('#cl_kelas{$acak}').trigger('change');
		//$('#cl_kab_kota_kode{$acak}').trigger('change');
		//fillCombo(host+'getcombo','cl_kab_kota_kode{$acak}','cl_kab_kota','{$data.cl_propinsi_kode|default:''}','{$data.cl_kab_kota_kode|default:''}');
		//fillCombo(host+'getcombo','cl_mata_pelajaran_id{$acak}','c_mata_pelajaran',$(this).val(),'{$data.cl_mata_pelajaran_id|default:''}');
	{/if}
	$('#cancel_{$acak}').bind('click',function(){
		$('#grid_nya_{$mod}').show();
		$('#detil_nya_{$mod}').hide();
	});
	$('#simpan_{$acak}').bind('click',function(){
		submit_form('form_{$acak}',function(r){
			if(r==1){
				$.messager.alert('Bimbel',"Data Pelajaran Sudah Tersimpan",'info');
				$('#cancel_{$acak}').trigger('click');
				grid_nya.datagrid('reload');
			}else{
				console.log(r);
				$.messager.alert('Bimbel',"Tdak Dapat Menyimpan Data",'error');
			}
		})
	});
</script>