
<h2 class="course-title"><a href="#">{$konten.konten.judul_sub_bab|default:''}</a></h2>
<h5 ><a href="#">Oleh Guru Pengajar : {$konten.konten.create_by|upper|default:''}</a></h5>
{if !empty($konten.konten)}
{$konten.konten.isi_konten|default:''}

<!--a href="javascript:void(0);" class="estut-btn active submit" onclick="$('#materi_na').show();$('#konten_na').hide();"> Kembali Ke Materi</a-->
{if $modul eq 'kelas'}
<a href="{$host}linksoal/{$konten.konten.id|default:''}" class="estut-btn active submit" > Bank Soal</a>
<a href="javascript:void(0);" class="estut-btn active submit" style="float:right"> Latihan Ujian</a>
{else if $modul eq 'un' || $modul eq 'smbptn' || $modul eq 'soal'}
<a href="javascript:void(0);" onclick="pilih_tree($('h2').parent('.isi_konten').attr('id'),{$konten.konten.tbl_sub_bab_id|default:''},'kelas');" class="estut-btn active submit" > Materi</a>
{/if}
<br>
<br>
<div class="single-blog bg-white fix"  id="video_na">
	<div class="row" style="padding:10px;">
		<div class="blog-info text-left">
		<span class="blog-category c-social">{if $modul eq 'kelas'}Materi{else}Pembahasan Soal{/if} Video</span>
		{foreach from=$konten.file item=i}
		<div class="col-md-3">
			<!-- Start Single Courses -->
			
			<div class="single-product text-center">
				<div class="pro-thumb overlay-bg">
					{if $i.cover neq ''}
					<img src="{$host}__repository/cover/{$i.create_by}/{$i.cover}" alt="courses thumb" />
					{else}
					<img src="{$host}__repository/cover/youtube.png" alt="courses thumb" />
					{/if}
					<div class="hover-btn">
						<ul class="action-buttons">
							<li class="quickview" style="margin-left:20px;"><a href="javascript:void(0);" onclick="openWindowWithPost('{$host}viewvideo/',{ id:{$i.id},modul:'{$modul}',sub_bab:{$i.tbl_sub_bab_id} })" class="modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="pro-info">
					<p class="pro-category">{$i.judul_sub_bab}</p>
					<h3 class="pro-title"><a href="javascript:void(0);" onclick="openWindowWithPost('{$host}viewvideo/',{ id:{$i.id},modul:'{$modul}',sub_bab:{$i.tbl_sub_bab_id} })">{$i.judul}</a></h3>
					<div class="pro-rating star">
						<h3 class="pro-price" style="font-size:10px;">Tayang sebanyak : {$i.tayang|default:1} kali</h3>
					</div>
					
				</div>
			</div>
			<!-- End Single Courses -->
		</div>
		{/foreach}
		</div>
	</div>
	
</div>


{else}
	<div class="blog-info text-left">
		<span class="blog-category c-social"></span>
		<h3 class="blog-title"><a href="#">TIDAK ADA KONTEN MATERI UNTUK PELAJARAN MATERI INI/ ADMIN BELUM INPUT DATA KONTEN</a></h3>
		<div class="blog-post-dlc">
			
		</div>
	</div>
{if $modul neq 'banksoal'}
<a href="javascript:void(0);" class="estut-btn active submit" > Bank Soal</a>
{else}
<a href="javascript:void(0);" class="estut-btn active submit" > Materi</a>
{/if}
{/if}