
<div class="contact-us-area padding100 bg-white-2 ">
	<div class="container" >
		
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="col-md-12">
				<div class="contact-form-area">
					<div class="form-wrap">
						<form method="post" action="{$host}masuk" >
							<div class="form-inner">
								<div class="single-input">
									<label>UserName <span>*</span></label> 
									<input type="text" name="user" id="usr" required="required">
								</div>
								
								<div class="single-input">
									<label>Password <span>*</span></label> 
									<input name="pwd" type="password" id="pwd" required="required" style="border: 1px solid #ebebeb;height: 40px;line-height: 40px;padding: 0 15px;width: 100%;">
								</div>
								<div class="submit-btn-area text-center">
									<a href="javascript:void(0);" id="Log" class="estut-btn active submit" >Masuk</a>
								</div>
							</div>
						</form>
						<br><center><div class="row msg" style="color:red;">{$error|default:''}</div></center>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
			
			
		</div>
		
	</div>
</div>
<script>
	$('#Log').bind('click',function(){
		var user=$('#usr').val();
		var pwd=$('#pwd').val();
		//console.log(user+' '+pwd);
		$.post('{$host}masuk',{ user:user,pwd:pwd },function(r){
			if(r==1){ window.location.href='{$host}kelas'; }
			else{ $('.msg').html(r); }
		});
	});
</script>
				<!-- End Contact Us area -->
		