<div class="list-group">
  <a href="#" class="list-group-item active">
    {$judul|default:''}
  </a>
  {foreach from=$materi item=i}
  <a href="javascript:void(0);" class="list-group-item materi" judul="{$i.nama_materi}" id_materi="{$i.id}">{$i.nama_materi|default:''}</a>
  {/foreach}
</div>

	<a href="javascript:void(0);" class="estut-btn active submit" onclick="$('#materi_na').hide();$('#sub_bab_na').show();"> Kembali Ke Sub Bab</a>

<script>
	$('.materi').click(function(){
		$('#bab_na').hide();
		$('#sub_bab_na').hide();
		$('#materi_na').hide();
		$('#konten_na').show();
		$('#konten_na').addClass('loading').html('');
		$.post(host+'konten',{ id_materi:$(this).attr('id_materi'),judul:$(this).attr('judul') },function(r){
			$('#konten_na').html(r).removeClass('loading');
		});
	})
</script>