<div class="contact-us-area padding100 bg-white-2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="area-headding text-center">
					<h2 class="section-title">Form Registrasi</h2>
					<p>Registrasi</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="contact-form-area">
					<div class="form-wrap">
						<form class="form-horizontal" id="form_reg" url="{$host}reg" method="post" enctype="multipart/form-data">
							<div class="form-inner">
								<div class="single-input one-half left">
									<label>Nama <span>*</span></label> 
									<input type="text" name="Nama" id="Nama" required="required" class="validasi">
								</div>
								<div class="single-input one-half right">
									<label>Alamat Email <span>*</span></label> 
									<input type="text" name="Email" id="Email" required="required" class="validasi_email">
								</div>
								<div class="single-input one-half left">
									<label>UserName <span>*</span></label> 
									<input name="nama_user" id="nama_user" type="text" required="required" class="validasi">
								</div>
								<div class="single-input one-half right">
									<label>Nomor Ponsel <span>*</span></label> 
									<input name="NoTelepon" id="NoTelepon" type="text" required="required" class="validasi">
								</div>
								<div class="single-input one-half left">
									<label>Nomor Ponsel Orangtua <span>*</span></label> 
									<input name="NoTelepon_ortu" id="NoTelepon_ortu" type="text" required="required" class="validasi">
								</div>
								<div class="single-input one-half right">
									<label>Asal Sekolah <span>*</span></label> 
									<input name="Asal_sekolah" id="Asal_sekolah" type="text" required="required" class="validasi">
								</div>
								<div class="single-input one-half left">
									<label>Provinsi <span>*</span></label> 
									<select name="cl_propinsi_kode" id="cl_propinsi_kode" required="required" style="border: 1px solid #ebebeb;height: 40px;line-height: 40px;padding: 0 15px;width: 100%;" class="validasi">
									<option value="">-- Pilih --</option>
									{foreach from=$provinsi item=i}
									<option value="{$i.kode_prov}">{$i.provinsi}</option>
									{/foreach}
									</select>
								</div>
								<div class="single-input one-half right">
									<label>Kota <span>*</span></label> 
									<select name="cl_kab_kota_kode" id="cl_kab_kota_kode" required="required" style="border: 1px solid #ebebeb;height: 40px;line-height: 40px;padding: 0 15px;width: 100%;" class="validasi">
									</select>
								</div>
								<div class="single-input one-half left">
									<label>Kecamatan <span>*</span></label> 
									<select name="cl_kecamatan_kode" id="cl_kecamatan_kode" required="required" style="border: 1px solid #ebebeb;height: 40px;line-height: 40px;padding: 0 15px;width: 100%;" class="validasi">
									</select>
								</div>
								<div class="single-input one-half right">
									<label>Alamat <span>*</span></label> 
									<input name="Alamat" id="Alamat" type="text" required="required" class="validasi">
								</div>
								<div class="single-input one-half left">
									<label>Password <span>*</span></label> 
									<input name="pwd" id="pwd" type="password" required="required" style="border: 1px solid #ebebeb;height: 40px;line-height: 40px;padding: 0 15px;width: 100%;" class="validasi">
								</div>
								<div class="single-input one-half right">
									<label>Ulangi Password <span>*</span></label> 
									<input name="pwd2" id="pwd2" type="password" required="required" style="border: 1px solid #ebebeb;height: 40px;line-height: 40px;padding: 0 15px;width: 100%;" class="validasi">
								</div>
								<div class="single-input one-half left">
									<label>Keamanan <span>*</span></label>
									<div style="width:50%;float:left;margin-right:10px;">
										<input name="sec" id="sec" type="text" required="required" class="validasi">
									</div>
									<div style="width:30%;float:left;">
									<div id="imgCapcha" style="font-family: inherit; padding-bottom: 5px; background-repeat: no-repeat; background-position: 0px 0px; text-indent: 120px; width:100%">&nbsp;
										<img onClick="refreshCaptcha('imgCapcha');" style="cursor: pointer;" src="{$host}__assets/images/reload.png">&nbsp;
									</div>
									</div>
								</div>
								<div class="single-input one-half right">
									
								</div>
								<!--div class="single-input">
									<label>Comment <span>*</span></label> 
									<textarea name="message" class="textarea"></textarea>
								</div-->
								<div class="submit-btn-area text-center">
									<a type="submit" class="estut-btn active submit" id="register">Daftar</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		var msg;
		var mode_tranport;
		$(".validasi").validatebox({ required:true }); 
		$(".validasi_email").validatebox({ required:true,validType: 'email' }); 
		refreshCaptcha('imgCapcha');
	});
	$('#cl_propinsi_kode').change(function(){
		$('#cl_kab_kota_kode').empty();
		$('#cl_kecamatan_kode').empty();
		fillCombo(host+'getcombo','cl_kab_kota_kode','cl_kab_kota',$(this).val());
	});
	$('#cl_kab_kota_kode').change(function(){
		$('#cl_kecamatan_kode').empty();
		fillCombo(host+'getcombo','cl_kecamatan_kode','cl_kecamatan',$(this).val());
	});
	
	$('#register').bind('click', function(){
		if ($('#form_reg').form('validate')){
			var pwd=$('#pwd').val();
			if(pwd.length >= 6){
				if(pwd==$('#pwd2').val()){
					$.get(host+'cekcapcha/'+$('#sec').val(), function(resp){
						if(resp=='sama'){
							$.post('{$host}cekuser',{ usr:$('#nama_user').val(),email:$('#Email').val() },function(resp){
								if(resp==1){
									submit_form('form_reg',function(r){
										if(r==1){
											//$.messager.alert('JResto Soft',"Data Tersimpan",'info');
											window.location.href='{$host}login/register/notif/'+btoa($('#nama_user').val());
										}
										else{
											$.messager.alert('Bimbel', "Gagal", 'error');
											console.log(r);
										}
									});
								}
								else{
									$.messager.alert('Bimbel',"User Name atau Email Sudah Terdaftar",'info');
								}
							});
						}else{
							$.messager.alert('Bimbel',"Keamanan Tidak Sama",'info');
							refreshCaptcha('imgCapcha');
						}
						
					});
					
				}
				else{
					$.messager.alert('Bimbel',"Ulangi Password tidak sama",'info');
				}
			}
			else{
				$.messager.alert('Bimbel',"Password Harus Lebih dari 6 karakter",'info');
			}
		}else{
			$.messager.alert('Bimbel',"Isi Data Yang Kosong Atau Email Tidak Valid",'info');
		}
	});
	
</script>
				<!-- End Contact Us area -->
		