{if !empty($konten)}
<div id="daftar_soal{$acak}">
	<div class="single-blog bg-white fix"  >
		<div class="row" style="padding:10px;">
			<div class="blog-info text-left">
			<span class="blog-category c-social">KUMPULAN SOAL</span>
			{foreach from=$konten item=i}
			  <div class="col-sm-2 col-md-2">
				<div class="single-product text-center" >
					<div class="pro-thumb overlay-bg">
						<img src="{$host}__assets/images/2.png" alt="courses thumb" />
						<div class="hover-btn">
							<ul class="action-buttons">
								<li class="quickview" style="margin-left:20px;"><a href="javascript:void(0);" onclick="$('#daftar_soal{$acak}').hide();pilih_tree('isi_soal{$acak}',{$i.id},'banksoal');"  class="modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="pro-info">
						<h3 class="pro-title"><a href="javascript:void(0);" onclick="$('#daftar_soal{$acak}').hide();pilih_tree('isi_soal{$acak}',{$i.id},'banksoal');">{$i.judul}</a></h3>
					</div>
				</div>
			  </div>
			  {/foreach}
			</div>
		</div>
	</div>
</div>
<div id="isi_soal{$acak}">
</div>


{else}
	<div class="blog-info text-left">
		<span class="blog-category c-social"></span>
		<h3 class="blog-title"><a href="#">TIDAK ADA KONTEN MATERI UNTUK PELAJARAN MATERI INI/ ADMIN BELUM INPUT DATA KONTEN</a></h3>
		<div class="blog-post-dlc">
			
		</div>
	</div>
{if $modul neq 'banksoal'}
<a href="javascript:void(0);" class="estut-btn active submit" > Bank Soal</a>
{else}
<a href="javascript:void(0);" class="estut-btn active submit" > Materi</a>
{/if}
{/if}