<div class="row" style="margin-left:10px;margin-right:2px;">
<div class="col-md-8 left-side-wrap-v1 ">
	<div class="single-blog bg-white fix"  id="video_na">
		<!--Start shop wrap area -->
		<div class="shop-content-area">
		{foreach from=$data.file item=i}
		<div class="blog-thumb"></div>
		<div class="blog-info text-left">
			<span class="blog-category c-social">Upload By: {$i.create_by}</span>
			
			<h3 class="blog-title"><a href="#">{$i.judul}</a> <span id="waktu_na" style="float:right;"><time>00:00:00</time></span></h3>
			
			{if $i.flag eq 'Y'}
			<div class="row">
				<div style="padding-left:16px;">
					<div class="full-width-video-wrap embed-responsive embed-responsive-16by9">
						<iframe src="{$i.embed_url}" allowfullscreen onclick=""></iframe>
					</div>
				</div>
			</div>
			{else}
			<div class="row" style="margin-bottom:10px;">
				<div style="padding-left:16px;">
					<div class="full-width-video-wrap embed-responsive embed-responsive-16by9">
						<video id="vid_{$acak}" width="440" height="360" preload controls onclick="hitung_waktu()">
							<source src="{$host}__repository/{if $modul eq 'kelas'}file_materi{else}bank_soal{/if}/{$i.create_by}/{$i.file_materi}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
							<source src="{$host}__repository/{if $modul eq 'kelas'}file_materi{else}bank_soal{/if}/{$i.create_by}/{$i.file_materi}" type='video/ogg; codecs="theora, vorbis"' />
							<source src="{$host}__repository/{if $modul eq 'kelas'}file_materi{else}bank_soal{/if}/{$i.create_by}/{$i.file_materi}" type='video/webm; codecs="vp8, vorbis"' />
						</video>
					</div>
				</div>
			</div>
			
			{/if}
			<div class="row" style="margin-bottom:10px;">
				<span style="float:right;">Tayang sebanyak : {$data.tayang|default:1} kali</span>
			</div>
		</div>
		{/foreach}
		</div>
	</div>
</div>
	<div class="col-md-4 right-side-wrap-v1">
		<div class="widget-wrap">
			<aside class="widget widget-top-rated-product clear">
				<h3 class="widget-title-v2">Video Lain</h3>
				<form id="lain_{$acak}" action="{$host}viewvideo" method="POST">
				<input type="hidden" name="id" id="id_{$acak}" value="-1">
				<input type="hidden" name="modul" value="{$modul|default:''}">
				<input type="hidden" name="sub_bab" value="{$sub|default:''}">
				<div class="widget-content">
					<ul class="top-rated-pd-menu"> 
						{if !empty($data.lain)}
						{foreach from=$data.lain item=i}
						<li>
							<div class="trpm-inner fix">
								<div class="trpm-img">
									<a href="javascript:void(0);" onclick="$('#id_{$acak}').val({$i.id});$('#lain_{$acak}').submit();">
									{if $i.cover neq ''}
									<img src="{$host}__repository/cover/{$i.create_by}/{$i.cover}" alt="">
									{else}
									<img src="{$host}__repository/cover/youtube.png" />
									{/if}
									
									</a>
								</div>
								<div class="trpm-dets">
									<h4 class="trpm-title"><a href="javascript:void(0);" onclick="$('#id_{$acak}').val({$i.id});$('#lain_{$acak}').submit();">{$i.judul}</a></h4>
									
									<h3 class="pro-price" style="font-size:10px;">Upload By: {$i.create_by}</h3>
									<h3 class="pro-price" style="font-size:10px;">Tayang sebanyak : {$i.tayang|default:1} kali</h3>
								</div>
							</div>
						</li>
						{/foreach}
						{/if}
					</ul>
				</div>
				</form>
			</aside>
		</div>
	</div>
</div>
<script>
var v=$("#vid_{$acak}")[0];
v.play();
hitung_waktu();
$(window).bind("beforeunload", function() {
	$.post(host+"cekwaktu",{ waktu:waktu },function(r){
		//$.messager.alert('Bimbel',"Sisa Durasi Waktu Anda : "+r,'info');
	});
    //return confirm("Do you really want to close?"); 
})
</script>