<footer id="footer-area">
	<div class="footer-top-area bg-1 overlay-bg padding50">
	<div class="container">
		<div class="row">
			<div class="newsletter">
				<div class="col-md-6 col-md-offset-3 text-center">
					<div class="footer-logo">
						<a href="index.html">Logo<!--img src="img/logo/1.png" alt="footer Logo" /--></a>
					</div>
					<div class="newsletter-form">
						<form action="#" method="get">
							<input class="email-box" type="email" name="email" id="email" placeholder="Enter your email here..."/>
							<button type="submit"><i class="fa fa-envelope-o"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<div class="footer-top-menu">
					<h3 class="widget-title">ABOUT US</h3>
					<div class="fo-aboutus-container">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sem quis lacinia faucibus.</p>
						<address>
							<p><strong>Add :</strong> 12345 Random Str., Random State,
							Random City, Random Country.</p>
							<p><strong>Email : </strong><a href="mailto:admin@bootexperts.com ">admin@bootexperts.com </a></p>
							<p><strong>Phone : </strong><a href="tel:+8801973833508">(01) 123 456 - (01) 659 786</a></p>
						</address>
						<div class="footer-social-bookmark">
							<ul>
								<li><a target="_blank" href="#" class="facebook"><i class="fa fa-facebook-square"></i></a></li>
								<li><a target="_blank" href="#" class="twitter"><i class="fa fa-twitter-square"></i></a></li>
								<li><a target="_blank" href="#" class="google-plus"><i class="fa fa-google-plus-square"></i></a></li>
								<li><a target="_blank" href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
								<li><a target="_blank" href="#" class="behance"><i class="fa fa-behance-square"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4">
				<div class="footer-top-menu">
					<h3 class="widget-title">Latest Courses</h3>
					<div class="fo-course-container">
						<ul>
							<li>
								<a href="#">Course of Creative Art</a>
								<p class="date">Dec 18, 2015</p>
							</li>
							<li>
								<a href="#">Course of Creative Art</a>
								<p class="date">Dec 18, 2015</p>
							</li>
							<li>
								<a href="#">Course of Creative Art</a>
								<p class="date">Dec 18, 2015</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 hidden-sm">
				<div class="footer-top-menu">
					<h3 class="widget-title">twitter</h3>
					<div class="fo-twitter-feed-container">
						<ul>
							<li>
								<a href="#" class="user-name">@John Doe</a>
								<p>Aliquam nec elementum odio, non loare congue ligula curabitur. Nulla venenatis malesuada diam volutpat vulputate. Suspendisse et tortor mauris.</p>
							</li>
							<li>
								<a href="#" class="user-name">@John Doe</a>
								<p>Duis id nulla sodales, dapibus enim sed. Vestibulum lobortis sed sit amet gravida.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4">
				<div class="footer-top-menu">
					<h3 class="widget-title">FOLLOW US @ INSTAGRAM</h3>
					<div class="blog-flickr">
						<ul>
							<li><a href="#"><img src="{$host}__assets/template/img/flickr/1.jpg" alt=""></a></li>
							<li><a href="#"><img src="{$host}__assets/template/img/flickr/2.jpg" alt=""></a></li>
							<li><a href="#"><img src="{$host}__assets/template/img/flickr/3.jpg" alt=""></a></li>
							<li><a href="#"><img src="{$host}__assets/template/img/flickr/4.jpg" alt=""></a></li>
							<li><a href="#"><img src="{$host}__assets/template/img/flickr/5.html" alt=""></a></li>
							<li><a href="#"><img src="{$host}__assets/template/img/flickr/6.jpg" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>