<header id="header" class="solid-bg-header clear">
	<div class="header-v1">
		<!-- Start Header Top -->
		<div class="header-top clear">
			<div class="container">
				<div class="row">
					<div class="col-md-7 hidden-sm hidden-xs">
						<div class="header-top-left header-top-info">
							<p><a href="#"><i class="fa fa-lock"></i>Login / Register</a></p>
							<p><a href="tel:+3211234567"><i class="fa fa-phone"></i>+321.123.4567</a></p>
							<p><a href="mailto:admib@bootexperts.com"><i class="fa fa-envelope"></i>admib@bootexperts.com</a></p>  
						</div>
					</div>
					<div class="col-md-5">
						<div class="header-top-right pull-right">
							<ul>
								<li class="search-bar">
									<div class="search-form">
										<form method="get" action="#">
											<button type="submit"><i class="fa fa-search"></i></button>
											<input type="text" placeholder="Search information" id="search" name="search">
										</form>
									</div>
								</li>
								<li class="cart-active">
									<div class="cart-btn">
										<a href="#"><i class="fa fa-shopping-cart"></i><sup>2</sup></a>
									</div>
									<div class="cart-form">
										<div class="cart-single-product">
											<div class="cart-single-product-img">
												<img alt="" src="{$host}__assets/template/img/cart/1.jpg">
											</div>
											<div class="cart-single-product-title">
												<a href="#">Learning History </a>
												<p>01 <span>X</span> $215.00</p>
											</div>
											<div class="cart-single-product-del">
												<a href="#"><i class="fa fa-times"></i></a>
											</div>
										</div>
										<div class="cart-single-product">
											<div class="cart-single-product-img">
												<img alt="" src="{$host}__assets/template/img/cart/2.jpg">
											</div>
											<div class="cart-single-product-title">
												<a href="#">Et harum quide </a>
												<p>01 <span>X</span> $125.00</p>
											</div>
											<div class="cart-single-product-del">
												<a href="#"><i class="fa fa-times"></i></a>
											</div>
										</div>
										<div class="total-amount fix">
											<p>SUBTOTAL: </p><span>$330.00 </span>
											
										</div>
										<div class="action-cart">
											<a class="viewcart" href="#">View Cart</a>
											<a class="checkout" href="#">Check Out</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header Top -->
		<!-- Start Header Bottom -->
		<div class="header-bottom">
			<div class="container">
				<div class="row hidden-sm hidden-xs">
					<!-- Start Logo -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="index.html">Logo<!--img src="img/logo/1.png" alt="main logo" /--></a>
						</div>
					</div>
					<!-- End Logo -->
					<!-- Start Main Menu -->
                    <div class="col-md-9">
                        <div class="menu-wrap pull-right">
                            <nav class="primary-menu">
							    <ul>
							        <li class="current"><a href="index.html">Home <span class="indicator"><i class="fa fa-angle-down"></i></span></a>
							            <ul class="estut-dropdown">
							                <li><a href="index.html">Home One</a></li>
							                <li><a href="index-2.html">Home Two</a></li>
							                <li><a href="index-3.html">Home Three</a></li>
							            </ul>
							        </li>                                                                             
							        <li><a href="about-us.html">ABOUT </a></li>      
							        <li><a href="shop-fullwidth.html">SHOP <span class="indicator"><i class="fa fa-angle-down"></i></span></a>
							            <ul class="estut-dropdown">
							                <li><a href="shop-fullwidth.html">Shop Fullwidth</a></li>
							                <li><a href="shop-fullwidth-2.html">Shop Fullwidth Style-2</a></li>
							                <li><a href="shop-grid-view.html">Shop Grid View</a></li>
							                <li><a href="shop-grid-view-2.html">Shop Grid View Style-2</a></li>
							                <li><a href="shop-list-view.html">Shop List View</a></li>
							                <li><a href="shop-list-view-2.html">Shop List View Style-2</a></li>
							            </ul>
							        </li>
							        <li><a href="#">PAGES <span class="indicator"><i class="fa fa-angle-down"></i></span></a>
							            <ul class="estut-dropdown">
							                <li><a href="about-us.html">About Us</a></li>
							                <li><a href="coming-soon.html">Coming soon</a></li>
							                <li><a href="contact-us.html">Contact Us</a></li>
							                <li><a href="faq.html">FAQ</a></li>
							                <li><a href="pricing-tables.html">Pricing Tables</a></li>
							                <li><a href="service.html">Our Services</a></li>
							                <li><a href="404.html">404 Page</a></li>
							            </ul>
							        </li>
							        <li><a href="blog-grid.html">BLOG <span class="indicator"><i class="fa fa-angle-down"></i></span></a>
							            <ul class="estut-dropdown">
							                <li><a href="blog-grid.html">Blog Grid Style</a></li>
							                <li><a href="blog-large-image.html">Blog large Image</a></li>
							                <li><a href="blog-small-image.html">Blog Small Image</a></li>
							                <li><a href="blog-regular-grid.html">Blog Regular Grid Style</a></li>
							                <li><a href="blog-masonry-grid.html">Blog Masonry Grid Style</a></li>
							                <li><a href="blog-details.html">Blog Details</a></li>
							            </ul>
							        </li>
							        <li><a href="team.html">Our Team</a></li> 
							        <li><a href="course-details.html">COURSES</a></li>
							        <li><a href="contact-us.html">CONTACT</a></li>
							    </ul>
							</nav>
                        </div>
                    </div>
                    <!-- End Main Menu -->
				</div>
				<div class="row">
					<div class="col-sm-3 hidden-md hidden-lg">
						<div class="mobile-logo">
							<a href="index.html">Logo<!--img src="img/logo/1.png" alt="main logo" /--></a>
						</div>
					</div>
					<div class="col-sm-9 hidden-md hidden-lg">
						<!-- Main Menu End -->
						<div class='mobile-menu-area'>
							<nav id="mobile-menu">
								<ul>
									<li><a href="index.html">Home</a>
										<ul>
											<li><a href="index.html">Home Shop 1</a></li>
											<li><a href="index-2.html">Home Shop 2</a></li>
											<li><a href="index-3.html">Home Shop 3</a></li>
										</ul>
									</li>
									<li><a href="about-us.html">ABOUT </a></li> 
							        <li><a href="team.html">Our Team</a></li>
									<li><a href="shop-fullwidth.html">Shop Pages</a>
										<ul>
											<li><a href="shop-fullwidth.html">Shop Fullwidth</a></li>
							                <li><a href="shop-fullwidth-2.html">Shop Fullwidth Style-2</a></li>
							                <li><a href="shop-grid-view.html">Shop Grid View</a></li>
							                <li><a href="shop-grid-view-2.html">Shop Grid View Style-2</a></li>
							                <li><a href="shop-list-view.html">Shop List View</a></li>
							                <li><a href="shop-list-view-2.html">Shop List View Style-2</a></li>
										</ul>
									</li>
									<li><a href="blog-grid.html">Blog Pages</a>
										<ul>
											<li><a href="blog-grid.html">Blog Grid Style</a></li>
							                <li><a href="blog-large-image.html">Blog large Image</a></li>
							                <li><a href="blog-small-image.html">Blog Small Image</a></li>
							                <li><a href="blog-regular-grid.html">Blog Regular Grid Style</a></li>
							                <li><a href="blog-masonry-grid.html">Blog Masonry Grid Style</a></li>
							                <li><a href="blog-details.html">Blog Details</a></li>
										</ul>
									</li>
									<li><a href="#">Pages</a>
										<ul>
											<li><a href="coming-soon.html">Coming soon</a></li>
							                <li><a href="about-us.html">About Us</a></li>
							                <li><a href="contact-us.html">Contact Us</a></li>
							                <li><a href="faq.html">FAQ</a></li>
							                <li><a href="pricing-tables.html">Pricing Tables</a></li>
							                <li><a href="service.html">Our Services</a></li>
							                <li><a href="404.html">404 Page</a></li>
										</ul>
									</li>
									<li><a href="course-details.html">COURSES</a></li>
							        <li><a href="contact-us.html">CONTACT</a></li>
								</ul>
							</nav>
						</div>
						<!-- Main Menu End -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Header Bottom -->
	</div>
</header>