<div class="page-header-v1 bg-4 overlay-bg  text-center">
	<div class="page-header-inner">
		<p class="page-category">Shop</p>
		<h2 class="page-title">Grid View</h2>
		<div class="breadcrumbs">
			<a href="index.html">Home</a><span class="separator">/</span><a href="shop-grid-view.html">Shop</a><span class="separator">/</span><span>Grid View 2</span>
		</div>
	</div>
</div>
				<!--End Page Header -->
				<!-- Start Small image blog Post area -->
<div class="shop-area shop-page bg-white-2">
	<div class="container">
		<div class="row">
			<!--Start Left Side -->
			<div class="col-md-8 left-side-wrap-v1 ">
				<!--Start shop wrap area -->
				<div class="shop-content-area">
					<div class="row">
						<div class="product-toolbar clear">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
								<!--start List & Grid  -->
								<ul role="tablist" class="view-mode-tab-btn clear">
									<li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="grid" title="Grid" href="#grid" aria-expanded="true"><i class="fa fa-th"></i></a></li>
									<li role="presentation" class=""><a data-toggle="tab" role="tab" aria-controls="list" title="List" href="#list" aria-expanded="false"><i class="fa fa-th-list"></i></a></li>
								</ul>
								<!--End List & Grid  -->
							</div>
							<!--div class="col-xs-12 col-sm-9 col-md-9 col-lg-9  text-right">
								
								<div class="toolbar-sortby sortby-name">
									<form action="#">
											<label>Sort by:</label>
											<select class="selectpicker show-tick" data-size="auto" data-width="fit">
											  <option value="volvo">Default sorting</option>
											  <option value="average">Sort by average rating</option>
											  <option value="newness">Sort by newness</option>
											  <option value="price-l-h">Sort by price: low to high</option>
											  <option value="price-h-l">Sort by price: high to low</option>
											</select> 
									</form>								
								</div>
								<div class="show-number toolbar-sortby">
									<form action="#">
										<label>Show:</label>
										<select class="selectpicker show-tick" data-live-search="true"  data-size="auto" data-width="fit">
										  <option value="12">12</option>
										  <option value="4">4</option>
										  <option value="8">8</option>
										  <option value="12">12</option>
										  <option value="16">16</option>
										  <option value="20">20</option>
										</select> 
									</form>								
								</div>
								<div class="asc-des toolbar-sortby">
									<a href="#" class="estut-btn"><i class="fa fa-long-arrow-up"></i></a>
								</div>
							</div-->
						</div>
					</div>
					<!-- End Product toolbar -->
					<!--Start Product List  -->
					<div class="row">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="grid">
								<!-- Start Single product -->
								<div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
									<div class="single-product text-center">
										<div class="pro-thumb overlay-bg">
											<img src="{$host}__assets/images/1.jpg" alt="product img" />
											<div class="hover-btn">
												<ul class="action-buttons">
													<li class="cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
													<li class="quickview"><a href="#" class="modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="pro-info">
											<p class="pro-category">accessories</p>
											<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
											<div class="pro-rating star">
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star-half-o"></i></span>
											</div>
											<h3 class="pro-price">$17.20</h3>
											<div class="pro-available-color">
												<ul class="color-list">
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- End Single product -->
								<!-- Start Single product -->
								<div class="col-md-4  col-sm-6 col-xs-12 col-lg-4">
									<div class="single-product text-center">
										<div class="pro-thumb overlay-bg">
											<img src="{$host}__assets/images/1.jpg" alt="product img" />
											<div class="hover-btn">
												<ul class="action-buttons">
													<li class="cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
													<li class="quickview"><a href="#" class="modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="pro-info">
											<p class="pro-category">Uniform</p>
											<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
											<div class="pro-rating star">
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star-half-o"></i></span>
											</div>
											<h3 class="pro-price">$17.20</h3>
											<div class="pro-available-color">
												<ul class="color-list">
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- End Single product -->
								<!-- Start Single product -->
								<div class="col-md-4  col-sm-6 col-xs-12 col-lg-4">
									<div class="single-product text-center">
										<div class="pro-thumb overlay-bg">
											<img src="{$host}__assets/images/1.jpg" alt="product img" />
											<div class="hover-btn">
												<ul class="action-buttons">
													<li class="cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
													<li class="quickview"><a href="#" class="modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="pro-info">
											<p class="pro-category">accessories</p>
											<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
											<div class="pro-rating star">
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star-half-o"></i></span>
											</div>
											<h3 class="pro-price">$17.20</h3>
											<div class="pro-available-color">
												<ul class="color-list">
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- End Single product -->
								<!-- Start Single product -->
								<div class="col-md-4  col-sm-6 col-xs-12 col-lg-4">
									<div class="single-product text-center">
										<div class="pro-thumb overlay-bg">
											<img src="{$host}__assets/images/1.jpg" alt="product img" />
											<div class="hover-btn">
												<ul class="action-buttons">
													<li class="cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
													<li class="quickview"><a href="#" class="modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="pro-info">
											<p class="pro-category">accessories</p>
											<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
											<div class="pro-rating star">
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star-half-o"></i></span>
											</div>
											<h3 class="pro-price">$17.20</h3>
											<div class="pro-available-color">
												<ul class="color-list">
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- End Single product -->
								<!-- Start Single product -->
								<div class="col-md-4  col-sm-6 col-xs-12 col-lg-4">
									<div class="single-product text-center">
										<div class="pro-thumb overlay-bg">
											<img src="{$host}__assets/images/1.jpg" alt="product img" />
											<div class="hover-btn">
												<ul class="action-buttons">
													<li class="cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
													<li class="quickview"><a href="#" class="modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="pro-info">
											<p class="pro-category">accessories</p>
											<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
											<div class="pro-rating star">
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star-half-o"></i></span>
											</div>
											<h3 class="pro-price">$17.20</h3>
											<div class="pro-available-color">
												<ul class="color-list">
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- End Single product -->
								<!-- Start Single product -->
								<div class="col-md-4  col-sm-6 col-xs-12 col-lg-4">
									<div class="single-product text-center">
										<div class="pro-thumb overlay-bg">
											<img src="{$host}__assets/images/1.jpg" alt="product img" />
											<div class="hover-btn">
												<ul class="action-buttons">
													<li class="cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
													<li class="quickview"><a href="#" class="modal-view detail-link quickview" data-toggle="modal" data-target="#productModal"><i class="fa fa-eye"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="pro-info">
											<p class="pro-category">accessories</p>
											<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
											<div class="pro-rating star">
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star-half-o"></i></span>
											</div>
											<h3 class="pro-price">$17.20</h3>
											<div class="pro-available-color">
												<ul class="color-list">
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
													<li class="color"></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div role="tabpanel" class="tab-pane fade" id="list">
								<!-- Start List View Mode -->
								<div class="product-list-view-area clear">
									<!-- Start Single product -->
									<div class="col-md-12">
										<div class="single-product text-left fix">
											<div class="pro-thumb">
												<img src="{$host}__assets/images/1.jpg" alt="product img" />
											</div>
											<div class="pro-info">
												<p class="pro-category">accessories</p>
												<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
												<div class="pro-rating star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star-half-o"></i></span>
												</div>
												<h3 class="pro-price">$17.20</h3>
												<p class="pro-content">Integer mollis magna et ante interdum, non feugiat nibh mollis. Ut sodales sodales metus. Vivamus sit amet est vel sapien tristique maximus tincidunt tincidunt quam. </p>
												<div class="pro-available-color">
													<ul class="color-list">
														<li class="color"></li>
														<li class="color"></li>
														<li class="color"></li>
														<li class="color"></li>
													</ul>
												</div>
												<div class="product-action">
													<a href="#" class="estut-btn">ADD TO CART</a>
													<a href="#" class="estut-btn"><i class="fa fa-heart-o"></i></a>
													<a href="#" class="estut-btn"><i class="fa fa-retweet"></i></a>
												</div>

											</div>
										</div>
									</div>
									<!-- End Single product -->
									<!-- Start Single product -->
									<div class="col-md-12">
										<div class="single-product text-left fix">
											<div class="pro-thumb">
												<img src="{$host}__assets/images/1.jpg" alt="product img" />
											</div>
											<div class="pro-info">
												<p class="pro-category">accessories</p>
												<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
												<div class="pro-rating star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star-half-o"></i></span>
												</div>
												<h3 class="pro-price">$17.20</h3>
												<p class="pro-content">Integer mollis magna et ante interdum, non feugiat nibh mollis. Ut sodales sodales metus. Vivamus sit amet est vel sapien tristique maximus tincidunt tincidunt quam. </p>
												<div class="pro-available-color">
													<ul class="color-list">
														<li class="color"></li>
														<li class="color"></li>
													</ul>
												</div>
												<div class="product-action">
													<a href="#" class="estut-btn">ADD TO CART</a>
													<a href="#" class="estut-btn"><i class="fa fa-heart-o"></i></a>
													<a href="#" class="estut-btn"><i class="fa fa-retweet"></i></a>
												</div>

											</div>
										</div>
									</div>
									<!-- End Single product -->
									<!-- Start Single product -->
									<div class="col-md-12">
										<div class="single-product text-left fix">
											<div class="pro-thumb">
												<img src="{$host}__assets/images/1.jpg" alt="product img" />
											</div>
											<div class="pro-info">
												<p class="pro-category">accessories</p>
												<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
												<div class="pro-rating star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star-half-o"></i></span>
												</div>
												<h3 class="pro-price">$17.20</h3>
												<p class="pro-content">Integer mollis magna et ante interdum, non feugiat nibh mollis. Ut sodales sodales metus. Vivamus sit amet est vel sapien tristique maximus tincidunt tincidunt quam. </p>
												<div class="pro-available-color">
													<ul class="color-list">
														<li class="color"></li>
														<li class="color"></li>
														<li class="color"></li>
													</ul>
												</div>
												<div class="product-action">
													<a href="#" class="estut-btn">ADD TO CART</a>
													<a href="#" class="estut-btn"><i class="fa fa-heart-o"></i></a>
													<a href="#" class="estut-btn"><i class="fa fa-retweet"></i></a>
												</div>

											</div>
										</div>
									</div>
									<!-- End Single product -->
									<!-- Start Single product -->
									<div class="col-md-12">
										<div class="single-product text-left fix">
											<div class="pro-thumb">
												<img src="{$host}__assets/images/1.jpg" alt="product img" />
											</div>
											<div class="pro-info">
												<p class="pro-category">accessories</p>
												<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
												<div class="pro-rating star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star-half-o"></i></span>
												</div>
												<h3 class="pro-price">$17.20</h3>
												<p class="pro-content">Integer mollis magna et ante interdum, non feugiat nibh mollis. Ut sodales sodales metus. Vivamus sit amet est vel sapien tristique maximus tincidunt tincidunt quam. </p>
												<div class="pro-available-color">
													<ul class="color-list">
														<li class="color"></li>
														<li class="color"></li>
														<li class="color"></li>
														<li class="color"></li>
														<li class="color"></li>
													</ul>
												</div>
												<div class="product-action">
													<a href="#" class="estut-btn">ADD TO CART</a>
													<a href="#" class="estut-btn"><i class="fa fa-heart-o"></i></a>
													<a href="#" class="estut-btn"><i class="fa fa-retweet"></i></a>
												</div>

											</div>
										</div>
									</div>
									<!-- End Single product -->
									<!-- Start Single product -->
									<div class="col-md-12">
										<div class="single-product text-left fix">
											<div class="pro-thumb">
												<img src="{$host}__assets/images/1.jpg" alt="product img" />
											</div>
											<div class="pro-info">
												<p class="pro-category">accessories</p>
												<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
												<div class="pro-rating star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star-half-o"></i></span>
												</div>
												<h3 class="pro-price">$17.20</h3>
												<p class="pro-content">Integer mollis magna et ante interdum, non feugiat nibh mollis. Ut sodales sodales metus. Vivamus sit amet est vel sapien tristique maximus tincidunt tincidunt quam. </p>
												<div class="pro-available-color">
													<ul class="color-list">
														<li class="color"></li>
														<li class="color"></li>
														<li class="color"></li>
														<li class="color"></li>
													</ul>
												</div>
												<div class="product-action">
													<a href="#" class="estut-btn">ADD TO CART</a>
													<a href="#" class="estut-btn"><i class="fa fa-heart-o"></i></a>
													<a href="#" class="estut-btn"><i class="fa fa-retweet"></i></a>
												</div>

											</div>
										</div>
									</div>
									<!-- End Single product -->
									<!-- Start Single product -->
									<div class="col-md-12">
										<div class="single-product text-left fix">
											<div class="pro-thumb">
												<img src="{$host}__assets/images/1.jpg" alt="product img" />
											</div>
											<div class="pro-info">
												<p class="pro-category">accessories</p>
												<h3 class="pro-title"><a href="#">Title Product Here</a></h3>
												<div class="pro-rating star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star-half-o"></i></span>
												</div>
												<h3 class="pro-price">$17.20</h3>
												<p class="pro-content">Integer mollis magna et ante interdum, non feugiat nibh mollis. Ut sodales sodales metus. Vivamus sit amet est vel sapien tristique maximus tincidunt tincidunt quam. </p>
												<div class="pro-available-color">
													<ul class="color-list">
														<li class="color"></li>
														<li class="color"></li>
													</ul>
												</div>
												<div class="product-action">
													<a href="#" class="estut-btn">ADD TO CART</a>
													<a href="#" class="estut-btn"><i class="fa fa-heart-o"></i></a>
													<a href="#" class="estut-btn"><i class="fa fa-retweet"></i></a>
												</div>

											</div>
										</div>
									</div>
									<!-- End Single product -->
								</div>
								<!-- End List View Mode -->
							</div>
						</div>
					<!--End Product List  -->
					</div>
					<!--Start Pagination  area-->
					<div class="row">
						<div class="pagination-area-v1">
							<div class="col-md-12 text-left">
								<ul class="page-numbers">
									<li class="page-number current">1</li>
									<li><a class="page-number" href="#">2</a></li>
									<li><a class="page-number" href="#">3</a></li>
									<li><a class="page-number" href="#">4</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--End Pagination  area-->
					<!-- End Product Filter Tab Wrap -->
				</div>
				<!--End shop wrap area -->
			</div>
			<!--End Left Side -->
			<!--Start Right Side -->
			<div class="col-md-4 right-side-wrap-v1">
				<div class="widget-wrap">
					<aside class="widget widget-categories">
						<h3 class="widget-title-v2">Categories Widget</h3>
						<div class="widget-content">
							<div id='categorymenu'>
								<ul class="widget-menu widget-submenu">   
								   <li class='has-sub'><a href='#'>Accessories</a>
									  <ul>
										 <li><a href='#'>Rular</a></li>
										 <li><a href='#'>Eraser</a></li>
										 <li><a href='#'>Pencil</a></li>
									  </ul>
								   </li>
								   <li class='has-sub'><a href='#'>Storage</a>
									  <ul>
										 <li><a href='#'>Storage-1</a></li>
										 <li><a href='#'>Storage-2</a></li>
									  </ul>
								   </li>
								   <li class='has-sub'><a href='#'>Uniform</a>
									  <ul>
										 <li><a href='#'>Uniform-1</a></li>
										 <li><a href='#'>Uniform-2</a></li>
									  </ul>
								   </li>
								   <li class='has-sub'><a href='#'>Electronics</a>
									  <ul>
										 <li><a href='#'>Electronics-1</a></li>
										 <li><a href='#'>Electronics-2</a></li>
									  </ul>
								   </li>
								   <li class='has-sub'><a href='#'>Uniform</a>
									  <ul>
										 <li><a href='#'>Uniform-1</a></li>
										 <li><a href='#'>Uniform-2</a></li>
									  </ul>
								   </li>
								   <li class='has-sub'><a href='#'>Electronics</a>
									  <ul>
										 <li><a href='#'>Electronics-1</a></li>
										 <li><a href='#'>Electronics-2</a></li>
									  </ul>
								   </li>
								</ul>
							</div>
						</div>
					</aside>
					<aside class="widget widget-filtering">
						<h3 class="widget-title-v2">Filter</h3>
						<div class="widget-content">
							<div class="price_filter s-filter clear">
								<h5 class="widget-sub-title-v2">Price</h5>
								<form action="#" method="get">
									<div id="slider-range"></div>
									<input type="text" id="amount" readonly>
									<input class="estut-btn" type="submit" value="Filter">
								</form>
							</div>
							<div class="color_filter s-filter clear">
								<h5 class="widget-sub-title-v2">Colors</h5>
								<ul class="color-list">
									<li class="color"><a href="#">1</a></li>
									<li class="color"><a href="#">2</a></li>
									<li class="color"><a href="#">3</a></li>
									<li class="color"><a href="#">4</a></li>
									<li class="color"><a href="#">5</a></li>
									<li class="color"><a href="#">6</a></li>
									<li class="color"><a href="#">7</a></li>
									<li class="color"><a href="#">8</a></li>
									<li class="color"><a href="#">9</a></li>
									<li class="color"><a href="#">10</a></li>
									<li class="color"><a href="#">10</a></li>
									<li class="color"><a href="#">12</a></li>
								</ul>
							</div>
							<div class="size_filter s-filter clear">
								<h5 class="widget-sub-title-v2">Size</h5>
								<ul class="size-list widget-menu">
									<li class="size"><a href="#">xs</a></li>
									<li class="size"><a href="#">s</a></li>
									<li class="size"><a href="#">m</a></li>
									<li class="size"><a href="#">l</a></li>
									<li class="size"><a href="#">xl</a></li>
								</ul>
							</div>  
							<div class="brand_filter s-filter clear">
								<h5 class="widget-sub-title-v2">BRANDS</h5>
								<ul class="brand-list-v2 widget-menu">
									<li class="s-brand"><a href="#">Louis Vuitton <span>(0)</span></a></li>		
									<li class="s-brand"><a href="#">H & M <span>(5)</span></a></li>
									<li class="s-brand"><a href="#">DKNY <span>(2)</span></a></li>
									<li class="s-brand"><a href="#">Versace <span>(0)</span></a></li>
									<li class="s-brand"><a href="#">Marc Jacobs <span>(3)</span></a></li>
								</ul>
							</div>
						</div>
					</aside>
					
					<aside class="widget widget-tagcloud-list">
						<h3 class="widget-title-v2">Tags</h3>
						<div class="widget-content"> 
							<div class="widget-menu tagcloud">
								<a href="#">Woocommerce</a>
								<a href="#">Codespot</a>
								<a href="#">Fashion</a>
								<a href="#">Beauty &amp; Health</a>
								<a href="#">Watches</a>
								<a href="#">Shoes</a>
								<a href="#">Man</a>
								<a href="#">Toys, Kids &amp; Baby</a>
								<a href="#">Jewelry </a>
								<a href="#">Electronics</a>
								<a href="#">Shop Online</a>
							</div>
						</div>
					</aside>
				</div>
			</div>
			<!--End Right Side -->
		</div>
	</div>
</div>